<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stet">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.ForgotPasswordActivity"></activity>
        <activity android:name=".Activities.PhoneNumberActivity" />
        <activity android:name=".Activities.SampleActivity" />
        <activity android:name=".Activities.SelectAddressActivity"></activity>
<!--        <activity android:name=".Activities.SampleActivity"></activity>-->
        <activity android:name=".Activities.NoInternetActivity" />
        <activity android:name=".Activities.TermsAndPolicyActivity" />
        <activity android:name=".Activities.Order" />
        <activity android:name=".Activities.OrderDetails" >

        </activity>
        <activity android:name=".Activities.WelcomeActivity" />
        <activity android:name=".Activities.UpiPaymentActivity" />
        <activity android:name=".Activities.VerifyOtpActivity" />
        <activity android:name=".Activities.MapsActivity" />
        <activity android:name=".Activities.ClothSelectActivity" />
        <activity android:name=".Activities.LandingActivity" />
        <activity android:name=".Activities.RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.MainActivity" /> <!-- android:screenOrientation="portrait"/> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_API_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>